
.vierkant{
    overflow: hidden;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: red;
    width: 100vw;
    height: 100vh;
}

.left{
    background-color: red;
    color:white;
    overflow-x: auto;
}

.right{
    background-color: green;
    
    
}
#headerLinks{
    display: flex;
    background-color: grey;
    margin : 0;
}
#headerLinks>li{
    margin-left : 35px;
}
